---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Scripts from "../components/Scripts.astro";
---

<Layout title="Senteces Generator">
	<main class="container">
		<header class="container__header">
			<h1 class="header__title">
				English Sentences <span class="span">Generator</span>
			</h1>
		</header>

		<section class="container__input">
			<Button />
			<h2 class="input__title">Generated Input</h2>
			<textarea
				id="prompt"
				cols="30"
				rows="10"
				class="container__prompt visible"
				disabled
				>Generate 5 sentences about...
			</textarea>
		</section>

		<section class="container__input">
			<label for="input-text" class="input__title"> Write a message</label>
			<input
				class="input__text"
				placeholder="Differents jobs"
				id="input-text"
			/>
		</section>

		<div class="container__btn">
			<button class="btn__submit" id="btn-submit">Send message</button>
		</div>
	</main>
</Layout>
<footer class="container --footer">
	<section class="container__information">
		<div class="information__group">
			<h2 class="information__text">Author:</h2>
			<p class="information__text">Csc32</p>
		</div>
	</section>
	<section class="container__information">
		<h2 class="information__title --social">Social Networks:</h2>
		<div class="container__social">
			<a
				href="https://twitter.com/Csc032_"
				class="social__image --twitter"
				target="_blank"></a>
			<a
				href="https://github.com/Csc32"
				class="social__image --github"
				target="_blank"></a>
			<a
				href="https://linkedin.com/in/carlos-sanzonetty-9a8085230"
				class="social__image --linkdin"
				target="_blank"></a>
		</div>
	</section>
</footer>
<Scripts />
