---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Scripts from "../components/Scripts.astro";
---

<Layout title="Sentences Generator">
	<main class="flex flex-col justify-center mb-8">
		<header class="bg-blue-700 text-white p-5 text-center">
			<h1 class="font-extrabold text-4xl font-title">
				English Sentences <span class="text-blue-300">Generator</span>
			</h1>
		</header>

		<section class="flex flex-col items-center space-y-4 p-5">
			<Button />
			<h2 class="text-lg font-semibold text-white">Generated Input</h2>
			<textarea
				id="prompt"
				cols="30"
				rows="10"
				class="w-full md:w-1/2 p-3 bg-blue-100 border border-blue-300 rounded text-gray-700 disabled:opacity-50"
				disabled>
				Generate 5 sentences about...
			</textarea>
		</section>

		<section class="flex flex-col items-center space-y-4 p-5">
			<label for="input-text" class="text-lg font-semibold text-white">
				Write a message
			</label>
			<input
				class="w-full md:w-1/2 p-3 bg-blue-50 border border-blue-300 rounded text-gray-700 focus:outline-none focus:ring focus:ring-blue-400"
				placeholder="Different jobs"
				id="input-text"
			/>
		</section>

		<div class="flex justify-center p-5">
			<button
				class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition"
				id="btn-submit">
				Send message
			</button>
		</div>
	</main>
	<Scripts />
</Layout>
