<div class="loader__container">
	<div class="loader hidden" id="loader">
		<div class="loader-square"></div>
		<div class="loader-square"></div>
		<div class="loader-square"></div>
		<div class="loader-square"></div>
		<div class="loader-square"></div>
		<div class="loader-square"></div>
		<div class="loader-square"></div>
	</div>
</div>
