@tailwind base;
@tailwind components;
@tailwind utilities;
root {
	--bg--primary: #6a3dc5;
	--shadow-1: #57389b;
	--shadow-2: #583eaf;
	--text-color: #fff;
	--text-span: #fef445;
	--text-big: 2rem;
	--tex-medium: 1.5rem;
	--text-small: 1rem;
	--space: 0.5px;
	--font-title: "Monserrat";
	--font-text: "Merriwether Black";
}
@font-face {
	font-family: "Monserrat";
	src: url("/public/font/Montserrat_font/Montserrat-VariableFont_wght.woff2");
	font-family: "Merriwether Black";
	src: url("/public/font/Merriweather/Merriweather-BlackItalic.ttf");
}
* {
	margin: 0;
	padding: 0;
}

/* styles to hidde the content */
.visible {
	transition: 0.6s ease all;
	opacity: 1;
	visibility: visible;
}
.hidden {
	visibility: hidden;
	opacity: 0;
}
/* Loader styles */
@keyframes square-animation {
	0% {
		left: 0;
		top: 0;
	}

	10.5% {
		left: 0;
		top: 0;
	}

	12.5% {
		left: 32px;
		top: 0;
	}

	23% {
		left: 32px;
		top: 0;
	}

	25% {
		left: 64px;
		top: 0;
	}

	35.5% {
		left: 64px;
		top: 0;
	}

	37.5% {
		left: 64px;
		top: 32px;
	}

	48% {
		left: 64px;
		top: 32px;
	}

	50% {
		left: 32px;
		top: 32px;
	}

	60.5% {
		left: 32px;
		top: 32px;
	}

	62.5% {
		left: 32px;
		top: 64px;
	}

	73% {
		left: 32px;
		top: 64px;
	}

	75% {
		left: 0;
		top: 64px;
	}

	85.5% {
		left: 0;
		top: 64px;
	}

	87.5% {
		left: 0;
		top: 32px;
	}

	98% {
		left: 0;
		top: 32px;
	}

	100% {
		left: 0;
		top: 0;
	}
}
.loader__container {
	position: absolute;
}
.loader {
	position: relative;
	width: 96px;
	height: 96px;
	transform: rotate(45deg);
	z-index: 2;
}

.loader-square {
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 28px;
	margin: 2px;
	border-radius: 0px;
	background: rgb(255, 232, 100);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
	animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
	animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
	animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
	animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
	animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
	animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
	animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
	animation-delay: -10s;
}
@media (width >= 700px) {
	.container__header {
		font-size: calc(var(--text-big) - 1vh);
	}
	.container__prompt {
		font-size: var(--tex-medium);
	}
	.container.--footer {
		width: 100vw;
		font-size: var(--text-small);
		flex-flow: row wrap;
		gap: 0;
	}

	.container__information {
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		width: 50%;
	}
	.container__social {
		width: 100%;
		justify-content: center;
		gap: 2.5em;
	}
	.container__image {
		width: 3.5em;
	}
}
